<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Keep as clean as possible
  whatever is on this page will be on all pages
  so it is best to put, nav | footer | etc etc--> 
<%= render 'layouts/navigation' %> <!-- navigation partial -->
<%= render 'layouts/messages' %> <!-- flash messages partial -->
<div class="container">
<%= yield %>
</div>

<%= render 'layouts/footer' %> <!-- my footer partial -->
<%= debug(params) if Rails.env.development? %>
</body>
</html>
